// 薄荷
@use '../font/pingfangsc/result';
@use '../cur/cur';

$color: #bdfcc9;

// 菜单下拉
.ant-menu-sub {
  min-width: 96px !important;
}
.ant-layout-sider-zero-width-trigger {
  top: 100% !important;
  inset-inline-end: -20px !important;
  background-color: #4dd6af !important;
}
